[alias]
  aa = add .
  ba = branch -a
  bv = branch -vv
  cf = config
  cfg = config --global
  cfl = config -l
  cm = commit
  cmm = commit -m
  co = checkout
  fp = fetch --prune
  ls = log --pretty='format:%C(yellow)%h%Creset %ad %s' --date=short --all
  nffmerge = merge --no-ff
  ps = push
  ra = remote add
  rv = remote -v
  sb = status --branch --short
  ss = status -s
  st = status
  tree = log --graph --pretty='format:[%ad %C(yellow)%h%Creset] %s %C(green)<%an>%Creset %C(red)%d%Creset' --date=short
[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto
[core]
	excludesfile = ~/.gitignore_global
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
[push]
  default = simple
