[alias]
  aa = add .
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t   -- \\2/' | sort
  ap = add -p
  ba = branch -a
  bd = branch -d
  bD = branch -D
  branches = branch -a
  bv = branch -vv
  cf = config
  cfg = config --global
  cfl = config -l
  cm = commit
  cma = commit --amend
  cmm = commit -m
  co = checkout
  d = diff
  discard = checkout --
  fp = fetch --prune
  ib = !([ ! -e .gitignore ] && touch .gitignore) | gibo $2 >> .gitignore
  ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $2 >> .gitignore
  info = remote show origin
  l = log --stat --abbrev-commit -n 1
  la = log --graph --pretty='format:[%ad %C(yellow)%h%Creset] %s %C(green)<%an>%Creset %C(red)%d%Creset' --date=short
  ls = log --pretty='format:%C(yellow)%h%Creset %ad %s' --date=short --all
  nffmerge = merge --no-ff
  ps = push
  ra = remote add
  remotes = remote -v
  rename = branch -M
  rv = remote -v
  sb = status --branch --short
  ss = status -s
  st = status
  stashes = stash list
  tags = tag
  tree = log --graph --pretty='format:[%ad %C(yellow)%h%Creset] %s %C(green)<%an>%Creset %C(red)%d%Creset' --date=short
  uncommit = reset --mixed HEAD~
  unstage = reset -q HEAD --
[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto
[core]
	excludesfile = ~/.gitignore_global
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
[push]
  default = simple
