"*":
  "atom-material-ui":
    colors: {}
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    packagesWithKeymapsDisabled: []
    disabledPackages: []
    themes: [
      "atom-material-ui"
      "monokai"
    ]
  dash:
    grammars:
      JavaScript: [
        "nodejs"
      ]
      Markdown: [
        "markdown"
      ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Ricty Diminished"
    invisibles: {}
    preferredLineLength: 240
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "ever-notedown": {}
  "go-config":
    gopath: "{{ GOPATH.stdout }}"
  "go-plus": {}
  "git-projects":
    rootPath: "{{ HOME_PATH.stdout }}/dev"
  linter:
    ignoredLinterErrors: [
      "ruby"
    ]
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "{{ HOME_PATH.stdout }}/.nodebrew/current"
    useGlobalEslint: true
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  tabs:
    showIcons: true
    usePreviewTabs: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: false
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".evnd.gfm.html.inline.markdown.mathjax.source.text":
  editor:
    preferredLineLength: 240
".evnd.html.inline":
  editor:
    preferredLineLength: 240
".json5.source":
  editor:
    preferredLineLength: 240
".nginx.source":
  editor:
    preferredLineLength: 240
