"*":
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    disabledPackages: []
    themes: [
      "atom-material-ui"
      "monokai"
    ]
  dash:
    grammars:
      JavaScript: [
        "nodejs"
      ]
      Markdown: [
        "markdown"
      ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Ricty Diminished"
    invisibles: {}
    preferredLineLength: 240
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "ever-notedown": {}
  "go-plus": {}
  "git-projects":
    rootPath: "{{ HOME_PATH.stdout }}/develop"
  linter:
    ignoredLinterErrors: [
      "ruby"
    ]
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "{{ HOME_PATH.stdout }}/.nodebrew/current"
    useGlobalEslint: true
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  minimap:
    plugins:
      "git-diff": true
  tabs:
    showIcons: true
    usePreviewTabs: true
  wakatime:
    apikey: "{{ wakatime.apikey }}"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".evnd.gfm.html.inline.markdown.mathjax.source.text":
  editor:
    preferredLineLength: 240
".evnd.html.inline":
  editor:
    preferredLineLength: 240
".json5.source":
  editor:
    preferredLineLength: 240
".nginx.source":
  editor:
    preferredLineLength: 240
